        body{
            margin: 0px;
            height: 100vh;
            background-image: url("background.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-family: monospace;
        }
        .login_card{
            height: 50%;
            width: 450px;
            background-color: rgb(120, 71, 181);
            border: 1px solid white;
            border-radius: 8px;
        }
        h1{
            text-align: center;
            font-size: 35px;
            color: white;
            font-weight: bold;
        }
        .name, .pass{
            height: 35px;
            width: 75%;
            border: 1px solid white;
            border-radius: 20px;
            margin-left: 50px;
            margin-bottom: 20px;
        }
        .forgot{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 20px;
        }

        button{
            height: 35px;
            width: 75%;
            border: 1px solid white;
            border-radius: 20px;
            background-color: white;
            color: black;
            margin-left: 50px;
            font-size: 18px;
            font-weight: bold;
            transition: transform 0s linear 0s;
        }
        button:hover{
            cursor: pointer;
            transform: scale(1.1);
        }

        
